// Place all the styles related to the admin/reservations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.reservations_table {
	margin: 20px 60px;
}

.reservation_func {
	margin: 30px 60px;
	display: flex;
  // justify-content: flex-end;
	.new-btn {
		margin-right: 0;
		margin-left: auto;
	}
}

.content {
	h3 {
		margin: 40px 60px;
	}
}