<div class="side-bar">
	<div class="menu-bar">
		<ul>
			<li>
				<%= link_to 'Movies', admin_movies_path %>
			</li>
			<li>
				<%= link_to 'Schedules', admin_schedules_path %>
			</li>
			<li>
				<div>Reservations</div>
			</li>
		</ul>
	</div>
</div>